# Credit Risk Classification

## Initialization

In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
import pandas as pd

import src.utils as utils

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

## Data Preparation

In [10]:
FNAME = "./data/raw/credit_risk_dataset.csv"
data = utils.load_data(fname=FNAME)
data.head()

Data Shape: [(32581, 12)]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

### Split Feature and Target Dataset

In [11]:
TARGET_COL = "loan_status"
X, y = utils.split_feature_target(data=data, target_col=TARGET_COL)
X.head()

Original data shape: (32581, 12)
X data shape: (32581, 11)
y data shape: (32581,)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,0.55,Y,4

### Split Train and Test Dataset

In [12]:
X_train, X_non_train, y_train, y_not_train = utils.split_train_test(X, y, 0.2, random_state=42)
X_valid, X_test, y_valid, y_test = utils.split_train_test(X_non_train, y_not_train, 0.5, random_state=42)

X train shape: (26064, 11)
X test shape: (6517, 11)
y test shape: (26064,)
y test shape: (6517,)

X train shape: (3258, 11)
X test shape: (3259, 11)
y test shape: (3258,)
y test shape: (3259,)

### Serialize Data

In [13]:
INTERIM_DATA_PATH = "./data/interim"
utils.serialize_data(X_train, f"{INTERIM_DATA_PATH}/X_train.pkl")
utils.serialize_data(y_train, f"{INTERIM_DATA_PATH}/y_train.pkl")
utils.serialize_data(X_test, f"{INTERIM_DATA_PATH}/X_test.pkl")
utils.serialize_data(y_test, f"{INTERIM_DATA_PATH}/y_test.pkl")
utils.serialize_data(X_valid, f"{INTERIM_DATA_PATH}/X_valid.pkl")
utils.serialize_data(y_valid, f"{INTERIM_DATA_PATH}/y_valid.pkl")

Data serialized on ./data/interim/X_train.pkl.
Data serialized on ./data/interim/y_train.pkl.
Data serialized on ./data/interim/X_test.pkl.
Data serialized on ./data/interim/y_test.pkl.
Data serialized on ./data/interim/X_valid.pkl.
Data serialized on ./data/interim/y_valid.pkl.