# Credit Risk Classification

## Initialization

In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import src.utils as utils

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

## Load Data

In [5]:
X_TRAIN_PATH = "data/interim/X_train.pkl"
Y_TRAIN_PATH = "data/interim/y_train.pkl"

X_train = utils.deserialize_data(X_TRAIN_PATH)
y_train = utils.deserialize_data(Y_TRAIN_PATH)

display(X_train.head())
display(y_train.head())

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
15884,25,241875,MORTGAGE,4.0,EDUCATION,A,16000,7.05,0.07,N,4
15138,21,18000,RENT,5.0,PERSONAL,B,1500,12.18,0.08,N,4
7474,25,53000,MORTGAGE,10.0,MEDICAL,B,16000,12.53,0.30,N,2
18212,28,16800,OWN,NaN,MEDICAL,C,5000,13.98,0.30,N,8
6493,25,50000,MORTGAGE,2.0,VENTURE,A,10000,7.90,0.20,N,2

15884    0
15138    1
7474     0
18212    1
6493     0
Name: loan_status, dtype: int64

In [7]:
num_col = ["person_age", "person_income", "person_emp_length", "loan_amnt",
           "loan_int_rate", "loan_percent_income", "cb_person_cred_hist_length"]
cat_col = ["person_home_ownership", "loan_intent", "cb_person_default_on_file"]

In [6]:
X_train.info()

<class 'pandas.DataFrame'>
Index: 26064 entries, 15884 to 17068
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  26064 non-null  int64
 1   person_income               26064 non-null  int64
 2   person_home_ownership       26064 non-null  str
 3   person_emp_length           25326 non-null  float64
 4   loan_intent                 26064 non-null  str
 5   loan_grade                  26064 non-null  str
 6   loan_amnt                   26064 non-null  int64
 7   loan_int_rate               23563 non-null  float64
 8   loan_percent_income         26064 non-null  float64
 9   cb_person_default_on_file   26064 non-null  str
 10  cb_person_cred_hist_length  26064 non-null  int64
dtypes: float64(3), int64(4), str(4)
memory usage: 2.4 MB

Insights:

- There are 7 numeric columns and 4 categorical columns.
- `person_emp_length` and `loan_int_rate` has missing values.

## Exploratory Data Analysis

* [Duplicated Data](#duplicated)

<a id="duplicated"></a>
### Duplicated Data

In [11]:
X_train.duplicated(keep=False).sum()

np.int64(192)